<ion-content>
  <ion-icon id="backIcon" [routerLink]="['/login']" name="arrow-back"></ion-icon>
  <div class="logo">
    <div class="logoCenter">
      <ion-icon name="sync"></ion-icon>
    </div>
    <h1 style="font-family: ProximaBold; color: white">Scrap Online</h1>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile No.</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="ion-text-center" size="6">
        <ion-button id="submitBtn" expand="full" shape="round" [routerLink]="['/login']">Submit</ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-button style="color: white;" color="warning" expand="full" shape="round">Validate</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>