ion-content {
    .tableRow {
        border-top: 1px #34495e solid;
        border-bottom: 1px #34495e solid;
        margin-top: 3rem;
    }

    .tableCol {
        border-right: 1px #34495e solid;
        padding-left: 1rem;
    }

    .remainingDiv {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2dd36f;
    }
}