<ion-content>
  <ion-icon id="backIcon" [routerLink]="['/login']" name="arrow-back"></ion-icon>
  <div class="logo">
    <div class="logoCenter">
      <ion-icon name="sync"></ion-icon>
    </div>
    <h1 style="font-family: ProximaBold; color: white">Scrap Online</h1>
  </div>

  <ion-grid style="margin-top: 10vh;">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label class="loginLabel" position="floating">Mobile No.</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-button id="submitBtn" expand="full" shape="round" (click)="verifyOTP()">Get OTP</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>