<ion-header>
  <ion-toolbar color="success" mode="ios">
    <ion-title>Admin Section</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="onLogout()" style="transform: scale(1.7); margin-right: 0.5rem;" name="log-out-outline">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="success">
    <ion-segment mode="ios" [(ngModel)]="selectedSegment">
      <ion-segment-button mode="ios" value="orders">
        <ion-label>Orders</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="users">
        <ion-label>Users</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedSegment === 'orders'">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div *ngIf="ordersList.length === 0" style="text-align: center;">
          <p>No Orders Available</p>
        </div>
        <ion-list *ngIf="ordersList.length > 0" class="ion-no-padding">
          <ion-list-header mode="ios">
            Orders List
          </ion-list-header>
          <!-- Sliding item with text options on both sides -->
          <ion-item-sliding *ngFor="let order of ordersFilteredList index as i">
            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="list-circle"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>{{order.orderItems}}</h2>
                <h3>+91 {{order.userMobile}}</h3>
                <p>Status: <span
                  [ngClass]="{'pendingStatus': order.status === 'PENDING', 'onTrackStatus': order.status === 'ON TRACK', 'completedStatus': order.status === 'COMPLETED', 'cancelledStatus': order.status === 'CANCELLED'}"
                  >{{order.status}}</span>
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="viewOrder(order)">
                <ion-icon class="itemIcons" name="eye"></ion-icon>&nbsp;View
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="selectedSegment === 'users'">
  <ion-searchbar *ngIf="usersList.length > 0" (ionClear)="applyFilter('')" (keyup)="applyFilter($event.target.value)"></ion-searchbar>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div *ngIf="usersList.length === 0" style="text-align: center;">
          <p>No Users Available</p>
        </div>
        <ion-list *ngIf="usersList.length > 0" class="ion-no-padding">
          <ion-list-header mode="ios">
            Users List
          </ion-list-header>
          <!-- Sliding item with text options on both sides -->
          <ion-item-sliding *ngFor="let user of userFilteredList; index as i">
            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="deleteUser(user, i)">
                <ion-icon class="itemIcons" name="close-circle"></ion-icon>&nbsp;Delete
              </ion-item-option>
            </ion-item-options>
            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="person-circle"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <h3>+91 {{user.mobile}}</h3>
                <p>{{user.email}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="callUser(user.mobile)">
                <ion-icon class="itemIcons" name="call"></ion-icon>&nbsp;Call
              </ion-item-option>
              <ion-item-option color="secondary" (click)="viewUser(user)">
                <ion-icon class="itemIcons" name="eye"></ion-icon>&nbsp;View
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="selectedSegment === 'orders'">
  <ion-row style="background: #388bff;">
    <ion-col size="12">
      <ion-item color="primary">
        <ion-label position="floating">Filter Orders</ion-label>
        <ion-select [(ngModel)]="filtereingTerm" interface="action-sheet" (ionChange)="onFilterTermChanged()">
          <ion-select-option value="ALL">ALL</ion-select-option>
          <ion-select-option value="PENDING">PENDING ORDERS</ion-select-option>
          <ion-select-option value="ON TRACK">ON TRACK ORDERS</ion-select-option>
          <ion-select-option value="COMPLETED">COMPLETED ORDERS</ion-select-option>
          <ion-select-option value="CANCELLED">CANCELLED ORDERS</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-footer>