<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title mode="ios">Admin Login</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="downIcon" name="chevron-down" mode="ios" (click)="modalController.dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #adminForm="ngForm">
    <div style="text-align: center;">
      <h5>Enter credentials to login as Admin.</h5>
    </div>
    <div class="form">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" #username name="username" [(ngModel)]="adminDetails.username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #pass name="pass" [(ngModel)]="adminDetails.password" required></ion-input>
      </ion-item>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-button [disabled]="adminForm.invalid" (click)="onSubmit()" expand="full" shape="round" color="success">Submit</ion-button>
</ion-footer>