<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title mode="ios">Enter Address</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="downIcon" name="chevron-down" mode="ios" (click)="modalController.dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #addressForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <ion-item>
            <ion-label position="floating">Address Line 1</ion-label>
            <ion-textarea #address1 name="address1" [(ngModel)]="address.address1" rows="1" required
              placeholder="House No./Flat No./Building No."></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address Line 2</ion-label>
            <ion-textarea #address2 name="address2" [(ngModel)]="address.address2" rows="1" required
              placeholder="Area/Colony/Locality"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Pincode</ion-label>
            <ion-input #pincode name="pincode" [(ngModel)]="address.pincode" type="number" maxlength="6" max="6"
              required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-button [disabled]="addressForm.invalid" (click)="onSubmitAddress()" shape="round" expand="full" color="success">
    Add Address</ion-button>
</ion-footer>