<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon [routerLink]="['/home']" name="home" style="margin-left: 5px; zoom: 1.6;"></ion-icon>
    </ion-buttons>
    <ion-title>Rates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list mode="ios">

    <ion-list-header>
      Newspaper
    </ion-list-header>
    <br>
    <ion-item lines="none">
      <ion-avatar style="transform: scale(1.4);" slot="start">
        <img src="assets/images/newspaper.png">
      </ion-avatar>
      <ion-label>
        <h2>Rate</h2>
        <h3><b>&#x20b9; 10</b>/kg</h3>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list mode="ios">

    <ion-list-header>
      Books
    </ion-list-header>
    <br>
    <ion-item lines="none">
      <ion-avatar style="transform: scale(1.4);" slot="start">
        <img src="assets/images/books.png">
      </ion-avatar>
      <ion-label>
        <h2>Rate</h2>
        <h3><b>&#x20b9; 20</b>/kg</h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>