<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon (click)="onDonate()" name="shirt" style="margin-left: 2px; zoom: 2;"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['profile']" name="person-circle-sharp" style="margin-right: 5px; zoom: 2;"></ion-icon>
    </ion-buttons>
    <ion-title>Donate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ul>
      <li>
        <h3>Sell your scrap online anytime.</h3>
      </li>
      <li>
        <h3>Sell your scrap on right value.</h3>
      </li>
      <li>
        <h3>We are using electric weight scale machine.</h3>
      </li>
    </ul>
  </div>
  <!-- <div class="container">
    <h3>Online Scrap <br> Sell Your Scrap Here</h3>
  </div> -->

</ion-content>

<ion-footer>
  <ion-tab-bar color="success">
    <ion-tab-button [routerLink]="['rates']" style="color: white;">
      <ion-icon name="wallet-sharp"></ion-icon>
      <ion-label>Rates</ion-label>
    </ion-tab-button>

    <ion-tab-button>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['contactus']" style="color: white;">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab horizontal="center" vertical="bottom" edge>
    <ion-fab-button [routerLink]="['category']" color="success">
      <ion-icon name="sync"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-footer>