<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon [routerLink]="['/home']" style="margin-left: 5px; zoom: 1.6;" name="home"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['/login']" name="log-out-outline" style="margin-right: 5px; zoom: 1.6;"></ion-icon>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="margin-top: 3rem;">
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <div class="profilePic">
          <ion-icon name="person"></ion-icon>
        </div>
        <h2 style="font-family: ProximaBold;">Alex John </h2>
        <h4 style="color: #0051ff; margin-top: 0;"> <b>+91-7712377123</b> </h4>
        <h4 style="color: #31e005; margin-top: 0;"> <u>alexjohn@gmail.com</u></h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin-top: 5rem;">
    <ion-row>
      <ion-col size="6">
        <div class="optionBox" [routerLink]="['requests']">
          <ion-icon class="optionIcon" name="layers"></ion-icon>
          <h5 class="optionText">My Requests</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="optionBox" [routerLink]="['addresses']">
          <ion-icon class="optionIcon" name="book"></ion-icon>
          <h5 class="optionText">My Address</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>